<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidteris"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET"/>
    
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.READ_LOGS"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="俄罗斯方块"
        android:theme="@style/AppTheme" >

            
           
     <activity
            android:name=".HomePage"
            android:label="俄罗斯方块" >
            
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
     </activity>
        
    
     <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
           
        </activity>
        
        <activity
            android:name=".SettingPage"
            android:label="设置">
           
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="游戏说明">
        </activity>
        <activity  
            android:name=".MusicPage" >
 
        </activity>
         <activity  
            android:name=".CustomLoginPage" >
 
        </activity>
         <activity  
            android:name=".CustomRegisterPage" >
        </activity>
       
         <activity  
            android:name=".CustomRecord" >
        </activity>
        <activity  
            android:name=".GameOver" >
        </activity>
        <service android:name=".BackService"></service>
        

    </application>

</manifest>
